@font-face {
  font-family: "Signika";
  src: url("./../fonts/Signika-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Signika";
  src: url("./../fonts/Signika-SemiBold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Signika";
  src: url("./../fonts/Signika-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
