<h2 mat-dialog-title>
    {{
    frmPersonal.controls["id"]
    ? "Actualizar Personal"
    : "Registrar Personal"
    }}
</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
    <div class="containter" [formGroup]="frmPersonal">
        <div class="row">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input type="text" matInput placeholder="Nombre" formControlName="nombre" appUpper />
                <mat-error>El campo Nombre es requerido</mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Apellido</mat-label>
                <input type="text" matInput placeholder="Apellido" formControlName="apellido" appUpper />
                <mat-error>El campo Apellido es requerido</mat-error>
            </mat-form-field>
        </div>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto"
                [formControl]="frmCargos" formControlName="nombreCargo">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCargoSelected($event)">
                <mat-option *ngFor="let state of filteredOptions | async" [value]="state">
                    <span>{{ state }}</span>
                </mat-option>
            </mat-autocomplete>
            <mat-error>El Cargo es requerido</mat-error>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close (click)="onClose()">Cerrar</button>
    <button type="submit" mat-button [disabled]="onDisabled()" (click)="onSubmit()">
        Guardar
    </button>
</mat-dialog-actions>


<!-- {{onDisabled()}}
<ng-container *ngIf="data">
    <p>{{frmPersonal.value.id}}</p>
    <p>{{frmPersonal.value.nombre}}</p>
    <p>{{frmPersonal.value.apellido}}</p>
    <p>{{frmPersonal.value.cargo}}</p>
    <p>{{frmPersonal.value.nombreCargo}}</p>
</ng-container> -->
