<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Horarios Laboratorio "Islas Malvinas"
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <!-- <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" /> -->
    <img class="avatar mat-elevation-z8" src="../assets/img/logo.jpg" routerLink="/dashboard" />

    <h4 class="name">Islas Malvinas</h4>
    <p class="designation">Laboratorio EETP483</p>

    <mat-divider></mat-divider>
    <!-- Referencias íconos
      https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/
    -->

    <mat-nav-list>
      <mat-list-item routerLink="#">
        <mat-icon>dashboard</mat-icon><span>Home</span>
      </mat-list-item>

      <mat-expansion-panel class="sidebar-menu" [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header class="mat-elevation-z8">
          <mat-icon>settings</mat-icon><span>Configuración</span>

        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/cursos">
            <mat-icon>arrow_right_alt</mat-icon><span>Cursos</span>
          </a>
          <!-- <button mat-button class="menu-button" routerLink="/cursos">
              <mat-icon>home</mat-icon>
              <span>Cursos</span>
            </button> -->
          <a mat-list-item routerLink="/departamentos">
            <mat-icon>arrow_right_alt</mat-icon><span>Departamentos</span>
          </a>
          <a mat-list-item routerLink="/materias">
            <mat-icon>arrow_right_alt</mat-icon><span>Materias</span>
          </a>
          <!-- <a mat-list-item routerLink="/horarios">
            <mat-icon>arrow_right_alt</mat-icon><span>Horarios</span>
          </a> -->
          <a mat-list-item routerLink="/personal">
            <mat-icon>arrow_right_alt</mat-icon><span>Personal</span>
          </a>
          <a mat-list-item routerLink="/planilla-horaria">
            <mat-icon>arrow_right_alt</mat-icon><span>Planilla Horaria</span>
          </a>
          <a mat-list-item routerLink="/registro">
            <mat-icon>arrow_right_alt</mat-icon><span>Registros</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>

    <button mat-button class="menu-button" routerLink="/horarios">
      <mat-icon>home</mat-icon>
      <span>Horarios</span>
    </button>
    <button mat-button class="menu-button" routerLink="/planilla-horaria">
      <mat-icon>assignment</mat-icon>
      <span>Planilla</span>
    </button>

    <button mat-button class="menu-button" routerLink="/about">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/help">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>